*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
build/
.gradle/
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json


build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json

.secret-*
**.sample

/app/src/main/java/com/amazonaws/
